NODE_ENV=development
APP_NAME=Landing Softdev API
PORT=3000
API_PREFIX=api
FRONTEND_URL=http://localhost:5173
SWAGGER_TITLE=Landing Softdev API
SWAGGER_DESCRIPTION=Documentacion base para la landing y futuras APIs.
SWAGGER_VERSION=1.0.0
SWAGGER_PATH=docs
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=landing_softdev
